.offcanvas{
    background: linear-gradient(to right,rgb(92, 1, 92),violet,aqua, yellow, pink,indigo,violet);
}
.dropdown-item{
    background: linear-gradient(to right,rgb(92, 1, 92),violet,aqua, yellow, pink,indigo,violet);
}
.dropdown-menu{
    background: linear-gradient(to right,rgb(92, 1, 92),violet,aqua, yellow, pink,indigo,violet);
}
h5{
    color: aqua;
}
.btn{
    background-color: aqua;
}