.offcanvas{
    background: linear-gradient(to left,rgb(92, 1, 92),violet,aqua, yellow, pink,indigo,violet);
}
.dropdown-item{
    background: linear-gradient(to left,rgb(92, 1, 92),violet,aqua, yellow, pink,indigo,violet);
}
.dropdown-menu{
    background: linear-gradient(to left,rgb(92, 1, 92),violet,aqua, yellow, pink,indigo,violet);
}
h5{
    color: aqua;
}
.btn{
    background-color: aqua;
}

  :host {
    
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: purple;
    color: white;
    font-weight: 600;
    font-family: Tron;
    font-size: larger;
  }
  
  .navbar{
    background: linear-gradient(to right,rgb(92, 1, 92),violet,aqua, yellow, pink,indigo,violet);
  }
  a,
  a:visited,
  a:hover {
    color: rgb(0, 255, 255);
    text-decoration: none;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
