h2{
    color: aqua;
    text-align: center;
}
body, html{
    margin-top: 38px;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/images/background.jpg);
}
